{{#each productos}}
<div class="fila row">
     <div class="col-md-1" style="z-index:3"><select id="cantidad_{{id}}" class="form-control items-producto">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
     </select>
</div>
<div class="col-md-9"><span class="titulo-list">{{titulo}}</span></div>
<div  id="precio_{{id}}" class="col-md-2 text-right">
     <span class="titulo-list precio-list"> ${{precio}} MXN</span></div>
</div>
{{/each}}

<div class="row">
     <div class="col-md-4 col-md-offset-8 text-right total">Total: ${{total}} MXN</div>
</div> 
<div class="row">
     <div class="col-md-6 col-md-offset-6 text-right">El costo no incluye costo de envío.</div>
</div> 
<hr>

<div class="row">
     <div class="col-md-12">
          <p>Proporcionanos los siguientes datos para realizar tu pedido:</p>
     </div>
</div>
<div class="row">
     <div class="col-md-8">
          <div class="form-group">
               <label for="name"  class="control-label">Nombre Completo</label>
               <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
               <label for="email"  class="control-label">Email</label>
               <input type="email" class="form-control" id="email">
          </div>
     </div>
</div>
