.container
	= render 'banner'
	.row
		.col-md-offset-1.col-md-10
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore modi atque sunt rem quo hic a in accusantium, nam corporis quam et deleniti culpa explicabo. Magnam rerum accusantium natus, aperiam. orem ipsum dolor sit amet, consectetur adipisicing elit. Dolore modi atque sunt rem quo hic a in accusantium, nam corporis quam et deleniti culpa explicabo. Magnam rerum accusantium natus, aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore modi atque sunt rem quo hic a in accusantium, nam corporis quam et deleniti culpa explicabo. Magnam rerum accusantium natus, aperiam. orem ipsum dolor sit amet, consectetur adipisicing elit. Dolore modi atque sunt rem quo hic a in accusantium, nam corporis quam et deleniti culpa explicabo. Magnam rerum accusantium natus, aperiam. 
			= render 'form'



