<div class="wrap gracias">

    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">

                <img class="" style="" src="dist/img/caja.png">
                <%= image_tag "caja.png", :class "img-responsive caja" %>
                <h2>¡Buena elección de productos!</h2>
                <h3>Muy pronto recibiras informacíon sobre tu pedído.</h3>

            </div>
        </div>
    </div>

</div>

<!-- Facebook Conversion Code for MiAlacena.mx -->
<script type="text/javascript">
    var fb_param = {};
    fb_param.pixel_id = '6016912758401';
    fb_param.value = '0.01';
    fb_param.currency = 'MXN';
    (function(){
        var fpw = document.createElement('script');
        fpw.async = true;
        fpw.src = '//connect.facebook.net/en_US/fp.js';
        var ref = document.getElementsByTagName('script')[0];
        ref.parentNode.insertBefore(fpw, ref);
    })();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6016912758401&amp;value=0.01&amp;currency=MXN" /></noscript>