<div class="wrap">

            
	<div class="container">

		<div class="jumbotron text-center">

			<h1>
                <%= image_tag "logo.png", class: "img-responsive img-center" %>
            </h1>
                    
            <h2>Envíos a todo México de productos locales auténticos de cada Estado.</h2>

            <div class="row" style="margin-top:40px">
                        <div class="col-md-4 col-md-offset-2" style="margin-top:10px">
                            <a href="#pedidos" class="ani-link"><button class="btn btn-lg btn-primary">Haz tu pedido</button></a>
                        </div>
                        <div class="col-md-4" style="margin-top:10px">
                            <a href="#faqs" class="ani-link"><button class="btn btn-lg btn-primary">¿Alguna duda?</button></a>
                        </div>
                    </div>

                </div>

                <div class="main-content">

                    <div class="row">
                        <div class="col-md-7"></div>
                        <div class="col-md-5">
                            <div class="form-group bottom-buffer estados-wrap">
                                <label>Elige un estado:</label><br>
                                <select id="estados" class="estados" class="form-control">
                                    
                                </select>
                            </div>
                        </div>
                    </div>

                    <h3 id="pedidos" class="text-center bottom-buffer" style="padding-top:20px">Selecciona los productos que quieras en tu pedido</h3>

                    <div id="productos">
                        
                    </div>

                    <div class="row">
                        
                        <div class="col-md-4 col-md-offset-8">
                             <button id="pagar" class="btn btn-lg btn-primary pull-right"> Continuar </button>
                        </div>
                    </div>

                    
                </div> <!-- /main-content -->
                

            </div> <!-- /container -->




        </div> <!-- /wrap  -->

        <div id="faqs" class="faqs">

            <div class="container">

                <h2 class="text-center">
                    Preguntas Frecuentes
                </h2>
                
                <div id="faqs" class="row" style="margin: 0 30px">
                    
                    <div class="col-md-12">
                        
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            ¿Cómo funciona nuestro servicio?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Nosotros te empaquetamos tu pedido con los productos seleccionados y te lo enviamos.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            ¿Cómo realizar un pedido?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        > Elige los productos que deseas agregar en tu pedido.<br>
                                        > Proporciónanos tu nombre y correo.<br>
                                        > Un agente de ventas se pondrá en contacto contigo para acordar la forma de envío y pago.<br>
                                        > Espera tus pedido desde la comodidad de tu casa.<br>
                                        > ¡Y disfruta de tu nueva alacena!
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            ¿Qué métodos de pago hay disponibles?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Podrás realizar tu pago en efectivo directamente y sin comisiones en Banamex u OXXO ¡tú decides!
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            ¿El envío tiene algún costo adicional?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        > El envío de 3-7 días tiene un costo adicional de $40 MXN.<br>
                                        > El envío de 1-2 días tiene un costo adicional de $120 MXN.<br>
                                        > En compras de más de $500 mxn, el envío es gratis.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                            ¿Ofrecerán productos de otros estados?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        El equipo de MiAlacena.mx está trabajando arduamente para incrementar el número de productos por estado, si tienes una sugerencia no dudes en enviarnos un correo a hola@mialacena.mx ¡Con gusto te responderemos!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            

        </footer>