{{#each productos}}
    {{#mod @index 0}}
    <div class="row">
    {{/mod}}

    {{#mod @index 3}}
    <div class="row">
    {{/mod}}

        <div class="col-md-4 text-center">
            <div class="product" data-precio="{{precio}}" data-nombre="{{nombre}}" data-id="{{id}}">
                <div class="product-img">
                    <img class="img-responsive" src="http://mialacena.mx/images/{{imagen}}">
                </div>
                <h4 class="prod-titulo">{{nombre}}</h4>
                <h5 class="prod-precio">${{precio}} MXN</h5>
            </div>
        </div>
        
    {{#modExtra @index 3}}
    </div>
    {{/modExtra}}
{{/each}}


