<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hola <%= @contact.name %> <%= @contact.last_name %></h3>
    <p style="font-size: 20px;">
      Confirmamos tu pedido de <%= @contact.product_name %>. <br> En los proximos días recibiras la orden de pago por tu producto. Recuerda que solo tienes 24 horas para completar la compra, de no ser así tu pedido sera cancelado.</p>
  </body>
</html>