#myModal.modal.fade
	.modal-dialog
		.modal-content
			.modal-body
				%button.close{:type => "button", :data => {"dismiss" => "modal"}}
					&times;
				Hello World!
			.modal-body
				%button.btn-btn-primary{:type => "button"}
				OK