body {
    background-image: url('bg.png');
    background-color: #F6ED9A;
    padding-bottom: 30px;
}

.wrap .row h2 {
    margin-top: 30px;
}

.wrap .row h3 {
    margin-top: 25px;
}

.wrap {
    background: none;
}

.caja{
    margin:0 auto;
    margin-bottom:20px;
}